<div class="page-header">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, 
                    class: 'well' }, defaults: { wrapper_html: { class: 'form-group' } } ) do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <div class="form-inputs">
      <div class='row'>
        <div class='col-lg-4'>
          <%= f.input :number, label: 'Rep number', disabled: true, hint: 'You cannot change your rep number.' %>
        </div>
        <div class='col-lg-4'>
          <%= f.input :first_name, required: true, autofocus: true %>
          <%= f.input :last_name, required: true %>
          <%= f.input :email, required: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
        </div>
        <div class='col-lg-4'>
          <%= f.input :password, label: 'New password', :autocomplete => "off", required: false %>
          <%= f.input :password_confirmation, label: 'New password confirmation', required: false %>
          <%= f.input :current_password, 
                      hint: "we always need your current password to confirm any changes", required: true %>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Update", class: 'btn btn-default' %>
    </div>
  </fieldset>
<% end %>

<h3>Cancel my account</h3>
<p>
  Unhappy? 
  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</p>

<%= link_to "Back", :back %>
