<div class="row address">
  <div class="col-lg-12 address-lines">
    <%= f.input :street %>
    <%= f.input :secondary %>
  </div>
  <div class="col-lg-6 address-city">
    <%= f.input :city %>
  </div>
  <div class="col-lg-2 address-state">
    <%= f.input :state %>
  </div>
  <div class="col-lg-4 address-zip">
    <%= f.input :zip %>
  </div>
</div>