<%= simple_nested_form_for(@order, html: { class: 'well' }, defaults: { wrapper_html: { class: 'form-group' } } ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number %>
    <%= f.input :date, as: :date, start_year: 1949, end_year: Date.today.year + 1, order: [:day, :month, :year] %>
    <%= f.simple_fields_for :line_items do |li_form| %>
      <div class="row line-item">
        <div class="col-lg-1">
          <%= li_form.input :quantity %>
        </div>
        <div class="col-lg-9">
          <%= li_form.association :product, collection: Product.all.sort_by(&:position), label_method: :item_and_description %>
        </div>
        <div class="col-lg-1">
          <%= li_form.input :free %>
        </div>
        <div class="col-lg-1">
          <%= li_form.link_to_remove "Remove this line item" %>
        </div>
      </div>
    <% end %>
    <p><%= f.link_to_add "Add a line item", :line_items %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-default' %>
  </div>
<% end %>
