<%= simple_nested_form_for(@order, html: { class: 'well' }, defaults: { wrapper_html: { class: 'form-group' } } ) do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <div class="form-inputs">
      <div class="order-meta">
        <%= render partial: 'form_meta', locals: { f: f } %>
      </div>

      <div class="order-addresses">
        <%= render partial: 'form_addresses', locals: { f: f } %>
      </div>

      <div class="order-line-items">
        <%= render partial: 'form_line_items', locals: { f: f } %>
      </div>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-default' %>
    </div>
  </fieldset>
<% end %>
