<div class="row order-meta">
  <div class="col-lg-2">
    <%= f.input :number, label: 'Order #', hint: "can't be changed", 
                         disabled: (controller.action_name == 'edit' || controller.action_name == 'update') %>
  </div>
  <div class="col-lg-2">
    <%= f.input :number_confirmation, label: 'Confirm Order #', 
                                      input_html: { value: (f.object.number_confirmation || f.object.number || '') } %>
  </div>
  <div class="col-lg-4">
    <%= f.input :date, label: 'Order Date', as: :string, hint: "mm-dd-yyyy" %>
  </div>
  <div class="col-lg-2">
    <p><strong>Office #</strong></p>
    <p>number</p>
  </div>
  <div class="col-lg-2">
    <% if rep_signed_in? %>
      <%= f.input :rep_number, label: 'Rep #', disabled: true,
                               input_html: { value: current_rep.number } %>
    <% elsif admin_signed_in? %>
      <%= f.input :rep_number, label: 'Rep #', required: true, input_html: { class: 'form-control' },
                               url: autocomplete_rep_number_orders_path, as: :autocomplete %>
    <% end %>
  </div>
</div>