<div class="row order-line-items">
  <div class="col-lg-12">
    <div class="row line-item-headers">
      <div class="col-lg-1">
        <p><strong>Quantity</strong></p>
      </div>
      <div class="col-lg-9">
        <p><strong>Item # with color and Description</strong></p>
      </div>
      <div class="col-lg-1">
        <p><strong>Free?</strong></p>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <%= f.simple_fields_for(:line_items, defaults: { label: false }) do |li_form| %>
      <div class="row line-item">
        <div class="col-lg-1">
          <p><%= li_form.input :quantity %></p>
        </div>
        <div class="col-lg-9">
          <p>
            <%= li_form.association :product, label_method: :item_and_description, 
                                              collection: Product.all.sort_by(&:position) %>
          </p>
        </div>
        <div class="col-lg-1">
          <p><%= li_form.input :free %></p>
        </div>
        <div class="col-lg-1">
          <%= li_form.link_to_remove "Remove product" %>
        </div>
      </div>
    <% end %>
    <p><%= f.link_to_add "Add a product", :line_items %></p>
  </div>
</div>