<%= simple_nested_form_for(@order, html: { class: 'well' }, defaults: { wrapper_html: { class: 'form-group' } } ) do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <div class="form-inputs">
      <div class="order-meta">
        <div class="row">
          <div class="col-lg-2">
            <%= f.input :number, label: 'Order #', required: true, hint: 'asdf' %>
          </div>
          <div class="col-lg-2">
            <%= f.input :number_confirmation, label: 'Confirm Order #'%>
          </div>
          <div class="col-lg-4">
            <%= f.input :date, label: 'Order Date', 
                        as: :date, start_year: 1949, end_year: Date.today.year + 1, order: [:day, :month, :year] %>
          </div>
          <div class="col-lg-2">
            <p><strong>Office #</strong></p>
            <p>number</p>
          </div>
          <div class="col-lg-2">
            <% if rep_signed_in? %>
              <p><strong>Sales Rep #</strong></p>
              <p><%= current_rep.number %></p>
            <% elsif admin_signed_in? %>
              <%= f.input :rep_number, label: 'Rep #', input_html: { data: { autocomplete_source: reps_index_path } } %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="order-addresses">
        <div class="row">
          <div class="col-lg-6 billing-address">
            <p><strong>Customer</strong></p>
            <p>name</p>
            <p><strong>Billing Address</strong></p>
            <%= f.simple_fields_for :billing_address do |address| %>
              <%= render partial: 'shared/address_fields', locals: {f: address} %>
            <% end %>
            <p><strong>Phone</strong></p>
            <p>phone</p>
            <p><strong>Email</strong></p>
            <p>email</p>
          </div>

          <div class="col-lg-6 shipping-address">
            <p><strong>Ship to</strong></p>
            <p>name</p>
            <p><strong>Delivery Address</strong></p>
            <%= f.simple_fields_for :shipping_address do |address| %>
              <%= render partial: 'shared/address_fields', locals: {f: address} %>
            <% end %>
            <p><strong>Delivery Phone</strong></p>
            <p>phone</p>
            <p>Delivery name / address / phone is the same as billing?</p>
            <p>(checkbox)</p>
          </div>
        </div>
      </div>

      <div class="order-line-items">
        <div class="row">
          <div class="col-lg-1">
            <p><strong>Quantity</strong></p>
          </div>
          <div class="col-lg-9">
            <p><strong>Item # with color and Description</strong></p>
          </div>
          <div class="col-lg-1">
            <p><strong>Free?</strong></p>
          </div>
          <div class="col-lg-1"></div>
        </div>
        <%= f.simple_fields_for(:line_items, defaults: { label: false }) do |li_form| %>
          <div class="row line-item">
            <div class="col-lg-1">
              <p><%= li_form.input :quantity %></p>
            </div>
            <div class="col-lg-9">
              <p>
                <%= li_form.association :product, label_method: :item_and_description, 
                                        collection: Product.all.sort_by(&:position) %>
              </p>
            </div>
            <div class="col-lg-1">
              <p><%= li_form.input :free %></p>
            </div>
            <div class="col-lg-1">
              <%= li_form.link_to_remove "Remove product" %>
            </div>
          </div>
        <% end %>
        <p><%= f.link_to_add "Add a product", :line_items %></p>
      </div>
    </div>

    <br>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-default' %>
    </div>
  </fieldset>
<% end %>
