<%= simple_nested_form_for(@order, html: { class: 'well' } ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <fieldset>
    <div class="form-inputs">
      <%= render 'form_meta', f: f %>
      <%= render 'form_addresses', f: f %>
      <%= render 'form_line_items', f: f %>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, class: 'btn btn-default' %>
    </div>
  </fieldset>
<% end %>
