<%= simple_nested_form_for(@order, html: { class: 'well' }, defaults: { wrapper_html: { class: 'form-group' } } ) do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <div class="form-inputs">
      <%= render 'form_meta', f: f %>
      <%= render 'form_addresses', f: f %>
      <%= render 'form_line_items', f: f %>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-default' %>
    </div>
  </fieldset>
<% end %>
