<% provide(:title, "Order ##{@order.number}") %>

<div class="page-header">
  <h2>
    Order #<%= "#{@order.number}" %> <%= link_to "Edit", edit_order_path(@order), class: 'btn btn-primary pull-right' %>
  </h2>
</div>

<table id="order-meta" class="table table-striped table-bordered table-condensed">
  <tr class="active">
    <th>Office #</th>
    <th>Sales Rep #</th>
    <th>Payment</th>
    <th>Line 1</th>
    <th>CPO</th>
  </tr>
  <tr>
    <td>number</td>
    <td><%= @order.rep.number %></td>
    <td>CC5, etc.</td>
    <td>amount</td>
    <td>amount</td>
  </tr>
</table>

<table id="order-addresses" class="table table-striped table-bordered table-condensed">
  <tr class="active">
    <th>Customer</th>
    <th>Ship to</th>
    <th>Order Date</th>
  </tr>
  <tr>
    <td>name</td>
    <td>name</td>
    <td><%= @order.date.to_formatted_s :long_ordinal %></td>
  </tr>
  <tr>
    <th>Billing Address</th>
    <th>Delivery Address</th>
    <th>Entered</th>
  </tr>
  <tr>
    <td>
      <%= @order.billing_address.street %>
      <%= @order.billing_address.secondary %><br>
      <%= @order.billing_address.city %>
      <%= @order.billing_address.state %>
      <%= @order.billing_address.zip %>
    </td>
    <td>
      <%= @order.shipping_address.street %>
      <%= @order.shipping_address.secondary %><br>
      <%= @order.shipping_address.city %>
      <%= @order.shipping_address.state %>
      <%= @order.shipping_address.zip %>
    </td>
    <td>date</td>
  </tr>
  <tr>
    <th>Phone</th>
    <th>Delivery Phone</th>
    <th>Printed</th>
  </tr>
  <tr>
    <td>phone</td>
    <td>phone</td>
    <td>date</td>
  </tr>
  <tr>
    <th>Email</th>
    <th>Ship via</th>
    <th>Shipped</th>
  </tr>
  <tr>
    <td>email</td>
    <td>UPS, etc. (tracking number)</td>
    <td>date</td>
  </tr>
</table>

<table id="order-line-items" class="table table-striped table-bordered table-condensed">
  <tr class="active">
    <th>Quantity</th>
    <th>Item Number</th>
    <th>Description</th>
    <th>X</th>
  </tr>
  <% for line_item in @order.line_items %>
    <tr>
      <td><%= line_item.quantity %></td>
      <td><%= line_item.product.item_number %></td>
      <td><%= line_item.product.description %></td>
      <td><%= "FREE" if line_item.free %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'back to Orders', orders_path %>
