<%= simple_form_for(@product, html: { class: 'well' } ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <fieldset>
    <div class="form-inputs">
      <div class="row">
        <div class="col-lg-6">
          <%= f.input :item_number, required: true %>
          <%= f.input :description, required: !f.object.incomplete? %>
          <%= f.input :category, required: !f.object.incomplete?,
                                 placeholder: 'select by typing to autocomplete' %>
        </div>
        <div class="col-lg-6">
          <%= f.input :retail, label: 'Current retail price', wrapper: :prepend do %>
            <%= content_tag :span, '$', class: 'input-group-addon' %>
            <%= f.input_field :retail, value: (number_with_precision(f.object.retail,
                                               precision: 2) || '') %>
          <% end %>
          <%= f.input :cpo, label: 'Current CPO amount',
                      input_html: { value: (number_with_precision(f.object.cpo, 
                                            strip_insignificant_zeros: true) || '') } %>
          <%= f.input :points, label: 'Current point value',
                      input_html: { value: (number_with_precision(f.object.points,
                                            strip_insignificant_zeros: true) || '') } %>
          <%= f.input :discontinued, label: false, inline_label: true,
                                     hint: 'Unless this is checked, retail, cpo, and point fields are required.' %>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, class: 'btn btn-default' %>
    </div>
  </fieldset>
<% end %>
