<% product ||= @product %>
<tr>
  <% if product.state == 'confirmed' %>
    <td><span class='label label-success'>CONFIRMED</span></td>
  <% elsif product.state == 'pending' %>
    <td><span class='label label-warning'>PENDING...</span></td>
  <% elsif product.state == 'incomplete' %>
    <td><span class='label label-danger'>INCOMPLETE</span></td>
  <% else %>
    <td>error</td>
  <% end %>
  <td><%= product.item_number %></td>
  <td><%= product.description %></td>
  <td><%= product.category %></td>
  <% if product.discontinued %>
    <td colspan="3"><span class='label label-default'> PRODUCT DISCONTINUED</span></td>
  <% else %>
    <td><%= number_to_currency(product.current_retail_price) %></td>
    <td><%= number_with_precision(product.current_cpo, strip_insignificant_zeros: true) %></td>
    <td><%= number_with_precision(product.current_point_value, strip_insignificant_zeros: true) %></td>
  <% end %>
  <% if can? :manage, @product %>
    <% unless controller.action_name == 'show' %>
      <td><%= link_to 'Show', product %></td>
    <% end %>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to "Destroy", product, method: :delete, data: { confirm: "You sure?" } %></td>
  <% end %>
</tr>