<header>
  <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "CPObaby", root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse bs-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if admin_signed_in? %>
            <li class="navbar-text">Signed in as admin <%=current_admin.email %></li>
            <li><%= link_to "Sign out", destroy_admin_session_path, method: "delete"  %></li>
          <% elsif rep_signed_in? %>
            <li><%= link_to current_rep.full_name, edit_rep_registration_path %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete"  %></li>
          <% else %>
            <li><%= link_to "Sign up", signup_path %></li>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>