<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'layouts/shim' %>
  </head>
  <body class="bs-docs-home">
    <%= render 'layouts/header' %>
    <div class="container bs-docs-container">
      <div class="row">
        <% flash.each do |type, message| %>
          <div class="alert <%= flash_class type %>">
            <button class="close" data-dismiss="alert">x</button>
            <%= message %>
          </div>
        <% end %>
        <% if rep_signed_in? || admin_signed_in? %>
          <div class="col-lg-2">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-12">
                <%= yield %>
              </div>
            </div>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>